<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600&display=swap">
    <link rel="stylesheet" href="/style.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js" integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
  {% seo %}
</head>

<body>
<div class="container">

<!-- This loads _includes/header.html -->
{% include header.html %}

 
<!--
<div class="content list">
<span class="hero-image-wrapper">
<img src="/assets/test.jpg" class="hero-image" style="border-radius: 0px;" loading="eager"/>
<span class="tooltip">Design by <em>tom5t</em></span>
</span>

-->

<div class="content post">
  {{ content }}
</div>

<!--

  <div class="list-item">
    <h2 class="list-post-title">
      <a href="/essays/test/">Why write?</a>
    </h2>
    <div class="list-post-date">
      <time>25 Oct 2016</time>
    </div>
  </div>

-->
</div>

</div>
<script src="/assets/prefetch.js"></script>
</body>
</html>